<%- include('header') %>

<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Nom du salarié</th>
            <th scope="col">Date début mission</th>
            <th scope="col">Date fin de mission</th>
            <th scope="col">Ville de départ</th>
            <th scope="col">Ville de la mission</th>
            <th scope="col"> Montant</th>
            <th scope="col">Etat de la mission</th>
        </tr>
    </thead>
    <tbody>
        <% contenu.forEach(function(mission,i,d){ %>
        
            <tr>
                
                <td>
                    <%= mission.sa_nom %> <%= mission.sa_prenom %> 
                </td>

                <td>
                    <%= mission.mi_dateDebut %>
                </td>
                <td>
                    <%= mission.mi_dateFin %>
                </td>
                <td>
                    <%= contenu4[i].co_nom %>
                </td>
                <td>
                    <%= mission.co_nom %>
                </td>
                <td>
                    <%= contenu2[i].prixtotal%>
                </td>
                <td>
                    <% if(  mission.mi_payee  == 0 ) {%>
                        <form action="/paiement/modifEtatMissionPaiement/<%= mission.mi_id %>" method="post"><button type="submit">Payer la mission</button></form>
                        <% } else { %>
                            Paiement déjà réalisé
                        <% } %>
                </td>
            </tr>
            <% })%>
            <% contenu3.forEach(function(mission, i){ %>
        
                <tr>
                    
                    <td>
                        <%= mission.sa_nom %> <%= mission.sa_prenom %> 
                    </td>
    
                    <td>
                        <%= mission.mi_dateDebut %>
                    </td>
                    <td>
                        <%= mission.mi_dateFin %>
                    </td>
                    <td>
                        <%= contenu5[i].co_nom %>
                    </td>
                    <td>
                        <%= mission.co_nom %>
                    </td>
                    <td>
                    </td>
                    <td>
                        <% if(  mission.mi_payee  == 0 ) {%>
                            <form action="/paiement/modifEtatMissionPaiement/<%= mission.mi_id %>" method="post"><button type="submit">Payer la mission</button></form>
                            <% } else { %>
                                Paiement déjà réalisé
                            <% } %>
                    </td>
                </tr>
                <% })%>
    </tbody>
</table>
</body>
</html>