<%- include('header') %>

<body>
    
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
               
                <th scope="col">Nom du salarié</th>
                <th scope="col">Date début mission</th>
                <th scope="col">Date fin de mission</th>
                <th scope="col">Ville de départ</th>
                <th scope="col">Ville de la mission</th>
                <th scope="col">Etat de la mission</th>
            </tr>
        </thead>
        <tbody>
            <% console.log(contenu) %>
            <% contenu.forEach(function(mission,i){ %>
            
                <tr>
                    
                    <td>
                        <%= mission.sa_nom %> <%= mission.sa_prenom %> 

                    </td>

                    <td>
                        <%= mission.mi_dateDebut %>
                    </td>
                    <td >
                        <%= mission.mi_dateFin %>
                    </td>
                    <td>
                        <%= contenubis[i].lieuDepart%>
                    </td>
                    <td>
                        <%= mission.lieuMission %>
                    </td>
                    <td>
                        <% if(  mission.mi_validee  == 0 ) {%>
                        <form action="/validation/modifEtatMission/<%= mission.mi_id %>" method="post"><button type="submit">Valider la mission</button></form>
                        <% } else { %>
                        Déjà validée
                        <% } %>
                    </td>
                </tr>
                <% })%>
        </tbody>
    </table>

</body>
</html>